    <!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>our company</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>We are abcCV company</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="assets/images/about-1-570x350.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Company activities</h4>
                    <p>
                        The company though has only been established for almost 10 years. However, abcCV consists of a staff full of dynamic, creative and enthusiastic young people. We has done over 950 programming jobs, large and small web design, nearly 500 software programming projects (including web app and mobile application programming). As a company that brings ordering software products and provides 1 of the leading and only hostel management software products in Vietnam operating on all platforms.
                        <br><br>In addition, there are also a number of jobs other than information technology, we always sets criteria to recruit the best employees, have jobs with reasonable salaries. All the things you need to prepare if you want to submit for a job interview, We are a partner that is your exact desire in terms of process, quality, time to give direction and the best service package according to your wishes.
                    </p>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/aptechvietnam.com.vn/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.behance.net"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                </div>

                <h5>Lorem ipsum dolor sit amet.</h5>

                <p>Explicabo, esse consequatur alias repellat in excepturi inventore ad tempora ipsa. Accusantium tenetur voluptate labore aperiam molestiae rerum excepturi minus in pariatur praesentium, corporis, aliquid dicta..<br><br>a voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam culpa iure!</p>
            </div>
        </div>
    </div>
</div>
