    <!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>For some more information</h4>
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <a asp-controller="BlogDetail" asp-action="Index" class="services-item-image"><img src="assets/images/blog-1-370x270.jpg" class="img-fluid img-height" alt=""></a>

                            <div class="down-content">
                                <h4><a asp-controller="BlogDetail" asp-action="Index">Writting has always ben kind of therapeutic for me in the mine</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a asp-controller="BlogDetail" asp-action="Index1" class="services-item-image"><img src="assets/images/blog-2-370x270.jpg" class="img-fluid img-height" alt=""></a>

                            <div class="down-content">
                                <h4><a asp-controller="BlogDetail" asp-action="Index1">Absolue collection. The Lancome team has been one...</a></h4>

                                <p style="margin: 0;"> Mary Pin &nbsp;&nbsp;|&nbsp;&nbsp; 10/07/2020 11:00 &nbsp;&nbsp;|&nbsp;&nbsp; 115</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a asp-controller="BlogDetail" asp-action="Index2" class="services-item-image"><img src="assets/images/blog-3-370x270.jpg" class="img-fluid img-height" alt=""></a>

                            <div class="down-content">
                                <h4><a asp-controller="BlogDetail" asp-action="Index2">Aperiam modi fuga officiis cumque the disfillcuft and a lot main</a></h4>

                                <p style="margin: 0;"> Petter Pan &nbsp;&nbsp;|&nbsp;&nbsp; 11/082020 11:00 &nbsp;&nbsp;|&nbsp;&nbsp; 116</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <a asp-controller="BlogDetail" asp-action="Index3" class="services-item-image"><img src="assets/images/blog-4-370x270.jpg" class="img-fluid img-height" alt=""></a>

                            <div class="down-content">
                                <h4><a asp-controller="BlogDetail" asp-action="Index3">Happppy New Year! I knowa litter late on this post and the police</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:00 &nbsp;&nbsp;|&nbsp;&nbsp; 117</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a asp-controller="BlogDetail" asp-action="Index4" class="services-item-image"><img src="assets/images/blog-5.jpg" class="img-fluid img-height" alt=""></a>

                            <div class="down-content">
                                <h4><a asp-controller="BlogDetail" asp-action="Index4">The distake in veraget tablet introd my tricks very younger</a></h4>

                                <p style="margin: 0;"> Vedura Dart &nbsp;&nbsp;|&nbsp;&nbsp; 08/04/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 80</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a asp-controller="BlogDetail" asp-action="Index5" class="services-item-image"><img src="assets/images/blog-6.jpg" class="img-fluid img-height" alt=""></a>

                            <div class="down-content">
                                <h4><a asp-controller="BlogDetail" asp-action="Index5">Aperiam modi voluptatum fuga officiis cumque inmy liken</a></h4>

                                <p style="margin: 0;"> Inner Kara &nbsp;&nbsp;|&nbsp;&nbsp; 10/11/2020 10:00 &nbsp;&nbsp;|&nbsp;&nbsp; 135</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul class="pages">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                @*<div class="contact-form">
                <div class="form-group">
                <h5>Blog Search</h5>
                </div>

                <div class="row">
                <div class="col-8">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                </div>

                <div class="col-4">
                <button class="filled-button" type="button">Go</button>
                </div>
                </div>
                </div>*@

                <div class="form-group">
                    <h5>For more information, search above or 1 of the following categories:</h5>
                </div>

                <p><a asp-controller="BlogDetail" asp-action="Index2">For recruiters to persuade candidates to join the organization after see a fit from the task section.</a></p>
                <p><a asp-controller="BlogDetail" asp-action="Index4">Et animi voluptatem, assumenda enim, consectetur quaerat!</a></p>
                <p><a asp-controller="BlogDetail" asp-action="Index5">Ducimus magni eveniet sit doloremque molestiae alias mollitia vitae.</a></p>
            </div>
        </div>
    </div>
</div>
